.vscode/

build/
dist/

changelog

*.gz
*.deb

# Ignore the following from the `debian` directory since
# they are generated during the build process and should
# not be committed to the repository.
debian/.debhelper/
debian/files
debian/*.ex
debian/*.debhelper
debian/*.substvars
debian/boa/

doc/version
man/boa.1
man/boa.conf.5
