Source: boa
Section: devel
Priority: optional
Maintainer: MLS Tidbits <contact@mlstidbits.com>
Build-Depends:
 debhelper-compat (= 13), pandoc, dh-make, git
Standards-Version: 4.6.0
Homepage: https://github.com/mlstidbits/boa
#Vcs-Browser: https://salsa.debian.org/debian/template
Vcs-Git: https://github.com/mlstidbits/boa.git
Rules-Requires-Root: no

Package: boa
Architecture: any
Depends: dh-make, yq, jq
Description: Boa is a wrapper script for building Debian packages.
 Using a simple YAML configuration file, it automates the process of
 building, cleaning, and installing Debian packages, making it easier
 for developers to manage their packages.
